
<h4><%=link_to blog.title.upcase, blog %></h4>

<p>Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>
<p><%= blog.body.truncate_words(58) %></p>

<% if logged_in?(:site_admin) %>
  <%= link_to blog.status, toggle_status_blog_path(blog), class: "btn btn-sm btn-success"  %>
  <%= link_to 'Edit', edit_blog_path(blog), class: "btn btn-sm btn-outline-dark" %>
  <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
<% end %>
<div class="hline1">
</div>
