<%= form_with(model: blog, local: true) do |form| %>
  

  <div class="form-control">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="form-control">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
