<%= form_with(model: blog, local: true) do |form| %>

 <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, size: "49.5" %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, size: "50 x 15" %>
  </div>
  <br>
  <div class="form-group btn btn-lg btn-outline-dark mb-4">
    <%= form.submit %>
  </div>

<% end %>
