<div class="container">
  <%= render "nav_blog" %>
  <%= render "masthead" %>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-9 blog-main ">
        <h3 class="pb-4 mb-4 font-italic border-bottom ">
          <%= render "shared/logo" %>
          From Microblog Pages<%= link_to "New Blog", new_blog_path, class: "btn btn-info m-2 float-right" if logged_in?(:site_admin) %>
        </h3>
        <div class="blog-post">
          <%= render @blogs %>
        </div>
        <%= paginate @blogs %>
      </div>
      <aside class="col-md-3 blog-sidebar">
        <%= render "sidebar" %>
      </aside>
    </div>
  </main>
<%= render "blog_footer" %>
