<div class="container">
  <div class="row">

    <div class="navbar-nav rounded-sm">
      <form class="form-inline justify-content-center">
        <%= render "shared/nav" %>
      </form>

    <div class="row">
      <div class="col-sm-9">
        <div class="card ">
          <%= image_pack_tag "image_pink.png", width: 400, height: 300, class: " m-4" %>
          <div class="blog-post m-4">
            <%= render @blog %>
            <%= link_to "Back", blogs_path, class: "btn btn-sm btn-outline-primary"  %>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <%= render "sidebar" %>
      </div>
    </div>

  <div class="row">
      <div class="show1 form-inline ">
        <p><%= render "shared/logo" %><%= @copyright %></p>
      </div>
  </div>
</div>

