<p id="notice"><%= notice %></p>

<%= @portfolio_item.id %>
<%= image_tag @portfolio_item.main_image  %>
<p>
  <strong>Title:</strong>
  <%= @portfolio_item.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @portfolio_item.subtitle %>
</p>

<p>
  <strong>Body</strong>
  <%= @portfolio_item.body %>
<hr>
<%= link_to "Edit", edit_portfolio_path(@portfolio_item) if logged_in?(:site_admin) %>

<h2>Technologies Used:</h2>
<% @portfolio_item.technologies.each do |t| %>
  <p>
    <%= t.name %>
  </p>
<% end %>

<p>
  <strong>Main Image File</strong>
  <%= @portfolio_item.main_image %>
</p>

<p>
  <strong>Thumb Image File</strong>
  <%= @portfolio_item.thumb_image %>
</p>

<button class="m-3 btn btn-sm btn-outline-dark">
<%= link_to 'Back', portfolios_path %>
</button>

<hr>
<p>Inspect:  <%= params.inspect %></p>

<p>Id:  <%= params[:id] %></p>

<p>Action:  <%= params[:action] %></p>


