<div class="card mx-4 my-4" >
  <div class="row no-gutters">
    <div class="col-md-8">
      <%= image_tag @portfolio_item.main_image  %>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h3 class="card-title">
          <%= @portfolio_item.title %>

        </h3>
        <em><%= @portfolio_item.subtitle %></em>

        <hr>

        <h5>Technologies Used:</h5>
        <% @portfolio_item.technologies.each do |t| %>
          <p><%= t.name %></p>
        <% end %>

        <hr>
        <br>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">
          <small class="text-muted">
            <p>Published <%= distance_of_time_in_words(@portfolio_item.created_at, Time.now) %> ago</p>
          </small>
        </p>
      </div>
    </div>
  </div>
  <p class="portfolio-body mx-4 my-4">
    <%= @portfolio_item.body %>
  </p>
</div>



<button class="ml-3 btn btn-sm btn-outline-dark">
<%= link_to 'Back', portfolios_path %>
</button>



