<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio_item.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @portfolio_item.subtitle %>
</p>

<p>
  <strong>Body</strong>
  <%= @portfolio_item.body %>
</p>

<p>
  <strong>Main Image</strong>
  <%= @portfolio_item.main_image %>
</p>

<p>
  <strong>Thumb Image</strong>
  <%= @portfolio_item.thumb_image %>
</p>
<button class="m-3 btn btn-sm btn-outline-primary">
<%= link_to 'Edit', edit_portfolio_path(@portfolio_item) %> 
</button>
<button class="m-3 btn btn-sm btn-outline-dark">
<%= link_to 'Back', portfolios_path %>
</button>

