<!DOCTYPE html>
<html>
  <%= render "shared/head" %>

  <body>
    <div class="nav-bar">
      <h3><strong>Microblog</strong></h3>
      <%= render "shared/alerts" %>
      <%= render "shared/nav" %>

    </div>

    <%= yield %>

    <hr>
    <%= session_source_helper("homepage_layout") %>
  </body>
</html>
<p>test</p>

