<!DOCTYPE html>
<html>
  <%= render "shared/head" %>

  <body>
    <div class="nav-bar">

      <h3>
        <%= image_pack_tag '3 ring_black_logo.png', width: "50" %>
        <strong>Microblogs</strong>
      </h3>

      <%= render "shared/welcome" %>
      <%= render "shared/alerts" %>
      <%= render "shared/nav" %>
    </div>



    <%= yield %>
    <%= image_pack_tag '3 ring_black_logo.png', width: "50" %>
    <%= render "shared/copyright" %>

    <hr>
    <%= session_source_helper("homepage_layout") %>
  </body>
</html>


