<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

 <%= render "shared/nav" %>

  <h3><strong>Microblog</strong></h3>
  <% if current_user.is_a?(User) %>
    <h4>Welcome: <%= current_user.email %>, Hi <%= current_user.firstname %></h4>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-sm btn-primary" %>
  <% else %>
    <h4>Welcome: Guest</h4>
    <%= link_to "Login", new_user_session_path, class: "btn btn-sm btn-outline-success"  %>
    <%= link_to "Signup", new_user_registration_path, class: "btn btn-sm btn-outline-danger" %>
  <% end %>


    <%= yield %>
    <hr>
    <% if session[:source] %>
      <p>Thanks for visiting me from <%= session[:source] %></p>
    <% end %>
  </body>
</html>
<p>test</p>
