<!DOCTYPE html>
<html>
   <%= render "shared/head" %>
  <body>
    <div class="nav-bar-bottom">
      <h3><strong>Microblog</strong></h3>
      <br>
      <h3><strong>Blogs</strong></h3>

    </div>

  <div class="blog-layout-class">
    <%= render "shared/alerts" %>

    <%= yield %>

  </div>
    <div class="nav-bar-bottom">
      <%= render "shared/nav" %>
    </div>
    <hr>
   <%= session_source_helper("blog_layout") %>

  </body>
</html>


