<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_pack_tag 'blog', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar-bottom">
      <h3><strong>Microblog</strong></h3>
      <br>
      <h3><strong>Blogs</strong></h3>

    </div>

  <div class="blog-layout-class">

    <% if current_user.is_a?(User) %>
      <h4>Welcome: <%= current_user.email %>, Hi <%= current_user.firstname %></h4>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-sm btn-primary" %>
    <% else %>
      <h4>Welcome: Guest</h4>
      <%= link_to "Login", new_user_session_path, class: "btn btn-sm btn-outline-success"  %>
      <%= link_to "Signup", new_user_registration_path, class: "btn btn-sm btn-outline-danger" %>
    <% end %>


      <%= yield %>

  </div>
    <div class="nav-bar-bottom">
      <%= render "shared/nav" %>
    </div>
    <hr>
    <% if session[:source] %>
      <p>Thanks for visiting me from <%= session[:source] %></p>
    <% end %>

  </body>
</html>

