<!DOCTYPE html>
<html>
   <%= render "shared/head" %>
  <body>
    <div class="page-body">
      <div class="cover-container d-flex w-100 h-200 p-4 mx-auto flex-column">
        <%= render "shared/top_nav" %>

        <%= yield %>

        <%= render "shared/copyright" %>

        <%= session_source_helper("homepage_layout") %>
      </div>
    </div>
  </body>
</html>
