<!DOCTYPE html>
<html>
   <%= render "shared/head" %>

  <body>
    <div class="portfolios-alert">
      <%= render "shared/alerts" %>
      <h3><%= render "shared/welcome" %></h3>
      <%= render "nav-portfolio" %>
    </div>
    <main role="main">

      <%= render "masthead" %>

      <%= yield %>

    </main>

    <%= render "footer-portfolio" %>

    </div>

    <hr>
    <%= session_source_helper("portfolio_layout") %>
  </body>
</html>

