<!DOCTYPE html>
<html>
   <%= render "shared/head" %>

  <body>
    <div class="portfolios-alert">
      <h3><strong>Microblog</strong></h3>
      <%= render "shared/alerts" %>
      <%= render "shared/nav" %>
    </div>

  <div class="portfolios-layout-class">

    <% if current_user.is_a?(User) %>
      <p><strong>Welcome: <%= current_user.email %>, Hi <%= current_user.firstname %></strong>

      <hr>
    <% else %>
      <h4>Welcome: Guest</h4>

    <% end %>
    <h3>
      <strong>Portfolio Items</strong>
      <%= link_to "New Item", new_portfolio_path(@portfolio_item), class: "btn btn-sm btn-primary"  %>
    </h3>

      <%= yield %>


  </div>
    <hr>
    <%= session_source_helper("portfolio_layout") %>

  </body>
</html>

