<!DOCTYPE html>
<html>
   <%= render "shared/head" %>

  <body>
    <div class="portfolios-alert">
      <%= render "shared/alerts" %>
      <%= render "shared/nav" %><%= render "shared/welcome" %>
      <%= render "nav-portfolio" %>
    </div>
    <main role="main">

      <%= render "masthead" %>

      <%= yield %>
    </main>
      <%= render "footer-portfolio" %>

    </div>

    <hr>
    <%= session_source_helper("portfolio_layout") %>
  </body>
</html>

